/* Your Styles Here */
h1 {
    color: white;
    font-family: fantasy;
    margin-bottom: 5px;
    padding-top: 50px;
    font-size: 36px;
}
h2 {
    color: white;
    font-family: fantasy;
    margin-bottom: 5px;
}
p {
    color: white;
    font-family: fantasy;
    text-align: center;
    width: 40%;
    margin: 20px auto;
    line-height: 1.5;
    padding: 15px;
    font-size: 20px;
    border: 2px solid white;
    background-color: #5b7a71;
    border-radius: 10px;
}
body{
    background-color: #40827d;
}
.center-text {
    text-align: center;
}
.padding {
    padding-top: 30px;
}
.me-pic {
    display: block;
    margin: auto;
    width: 210px;
    height: auto;
    border: 5px solid white;
}